*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background: #222736;
  user-select: none;
}
body h3,
h4 {
  color: #fff;
}
.scroll-div i {
  color: rgb(0, 109, 124) !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.wrapper {
  width: 1430px;
  margin: 0 auto;
  background-color: #ffffff;
  position: relative;
}

.cf::after {
  content: "";
  display: block;
  clear: both;
}
.left {
  float: left;
}
.right {
  float: right;
}
.form-group {
  margin-left: 30px !important;
}
.inline-block {
  display: inline-block;
}
.scroll-div {
  padding-top: 60px;
}

.main-content-box .page-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2a3142;
  border: none;
  border-radius: 50%;
  padding: 0px;
  width: 25px;
  height: 25px;
  font-size: 12px;
  margin-right: 5px;
  margin-top: 20px;
}
.loading-box {
  position: absolute;
  margin-top: 20px;
  left: 50%;
  transform: translate(-50%);
}
.loading-box img {
  width: 50px;
  height: 50px;
}
.scroll-div .fa-edit,
.scroll-div .fa-edit:hover {
  color: rgb(0, 109, 124) !important;
  background: transparent !important;
}
.row {
  padding: 0;
  margin: 0;
}
.car-line-input input,
.car-line-input button,
.car-line-input select {
  width: 100%;
  margin-right: 10px;
}
.carline-box .input-form {
  padding: 10px;
}
@media only screen and (max-width: 1430px) {
  .wrapper {
    width: 100%;
  }
}

.table-responsive .table tbody tr td input {
  width: 150px !important;
}
.ReactModal__Content--after-open {
  margin-left: 50px;
  margin-top: 70px;
}
